body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;

}

.left {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.section1,
.section2,
.section3,
.section4 {
    display: flex;
    width: 100%;
    flex: 1;
    padding: 14px 200px 0;
    box-sizing: border-box;
}

.section1 {
    background-color: #1f2937;
    flex-direction: column;
}

.section2 {
    flex-direction: column;
    text-align: center;
}

.section2,
.section4 {
    background-color:white; 
}

.section3 {
    background-color: #e5e7eb;
    flex-direction: column;
    padding: 100px 200px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 16px;
    font-size: 18px;
}



.couch {
    display: flex;
    width: 500px;
}

.hero {
    display: flex;
    padding: 130px 0; 
    justify-content: space-between;
    gap: 60px;
}

.hero-left {
    /*
    display: flex;
    flex-direction: column;
    */
    gap: 10px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-button {
    background-color: #3882f6;
    color: #e5e7eb;
    border: 1px solid #3882f6;
    padding: 6px 30px;
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 8px;
}

.hero-right {
    display: flex;
    flex-direction: row-reverse;
}

.section2-header {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin: 25px 0;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 100px;
}

.card-img {
    height: 180px;
    width: 180px;
    border: 3px solid #3882f6;
    border-radius: 8px;
}

.card {
    max-width: 180px;
}
 
.quote-content {
    padding: 0 340px;
}

.quote {
    text-align: ;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    text-align: end;
    font-weight: bold;
}